p {
  width: 400px;
}

.btns {
  position: fixed;
  right: 300px;
  top: 200px;
}

.btns div {
  width: 200px;
  height: 200px;
  margin: 20px;
  background-color: #000;
  color: #fff;
  line-height: 200px;
  text-align: center;
  cursor: pointer;
  font-size: 26px;
}