* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.swiper {
  position: relative;
  margin: 100px auto;
  width: 500px;
  height: 300px;
  overflow: hidden;
}

ul {
  /* 用于浮动子元素 */
  width: 2500px;
  /* 用于轮播定位 */
  position: absolute;
  left: 0;
}

li {
  width: 500px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}
